    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Keycloak example</span>
      <span class="example-spacer"></span>
      <button (click)="onLogout($event)" mat-icon-button class="example-icon" aria-label="logout">
        <mat-icon>logout</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
  </mat-toolbar>