<div class="example-container">
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput  [value]="email" [readonly]="true">
    </mat-form-field>
    <mat-form-field>
        <mat-label>vorname</mat-label>
        <input matInput  [value]="firstname" [readonly]="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>nachname</mat-label>
        <input matInput  [value]="lastname" [readonly]="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>benutzername</mat-label>
        <input matInput [value]="username" [readonly]="true">
      </mat-form-field>
      <p>Rollen:</p>
      <div class="role-list">
        <mat-chip-listbox aria-label="roles">
            <mat-chip *ngFor="let role of roles; index as i;">{{role}}</mat-chip>
          </mat-chip-listbox>
      </div>
</div>